body {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Assuming that .restaurant-list and related styles are being handled in Restaurants.css,
   they have been removed from Home.css to avoid conflicts. */

.sort-buttons {
  transform: scale(1.2);
  text-align: center; /* Centers inline or inline-block elements */
  margin-bottom: 20px; /* Adds some space below the buttons */
}

.sort-btn {
  padding: 10px 15px;
  margin: 0 5px; /* Adds space between buttons */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* This makes the button respect text-align from its parent */
}

.sort-btn:hover {
  background-color: #e0e0e0;
}